# Node modules
node_modules/

# Environment files
.env
.env.*
!.env.example

# Firebase credentials
firebase-service-account.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / temp
dist/
build/
.cache/

# IDE
.vscode/
.idea/

# Scratch/Temporary
scratch/
